In [1]:
import pandas as pd
import numpy as np
!pip install nltk
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.stem.porter import PorterStemmer
from nltk.tokenize import word_tokenize
from IPython.display import display

Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk) (1.15.0)

In [2]:

#
#nltk.download('punkt')

# Data Cleaning Step

## Import Data

In [3]:
dataset = pd.read_csv('netflix_titles.csv')
print(dataset.shape)
dataset.head(10)

(8807, 12)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
5,s6,TV Show,Midnight Mass,Mike Flanagan,"Kate Siegel, Zach Gilford, Hamish Linklater, H...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries",The arrival of a charismatic young priest brin...
6,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, Jos√© Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",NaN,"September 24, 2021",2021,PG,91 min,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
8,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,"September 24, 2021",2021,TV-14,9 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,"September 24, 2021",2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...



## Drop unnecessary column

In [4]:
dataset_clean = dataset.drop(['show_id','type','cast','date_added','rating','duration','listed_in'], axis=1)
dataset_clean.head()

,title,director,country,release_year,description
0,Dick Johnson Is Dead,Kirsten Johnson,United States,2020,"As her father nears the end of his life, filmm..."
1,Blood & Water,NaN,South Africa,2021,"After crossing paths at a party, a Cape Town t..."
2,Ganglands,Julien Leclercq,NaN,2021,To protect his family from a powerful drug lor...
3,Jailbirds New Orleans,NaN,NaN,2021,"Feuds, flirtations and toilet talk go down amo..."
4,Kota Factory,NaN,India,2021,In a city of coaching centers known to train I...

## Fill NaN

In [5]:
# We fill the missing value with 'unknown'
dataset_clean = dataset_clean.fillna('Unknown')
dataset_clean.head() # we could see the country has been filled by Unknown

,title,director,country,release_year,description
0,Dick Johnson Is Dead,Kirsten Johnson,United States,2020,"As her father nears the end of his life, filmm..."
1,Blood & Water,Unknown,South Africa,2021,"After crossing paths at a party, a Cape Town t..."
2,Ganglands,Julien Leclercq,Unknown,2021,To protect his family from a powerful drug lor...
3,Jailbirds New Orleans,Unknown,Unknown,2021,"Feuds, flirtations and toilet talk go down amo..."
4,Kota Factory,Unknown,India,2021,In a city of coaching centers known to train I...

## Remove stop word in description

In [6]:
nltk.download('stopwords')
stop_words = stopwords.words('english')
dataset_clean['description'] = dataset_clean['description'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop_words)]))
dataset_clean.head() # we could see that the stopwords has been removed in description.

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

,title,director,country,release_year,description
0,Dick Johnson Is Dead,Kirsten Johnson,United States,2020,"As father nears end life, filmmaker Kirsten Jo..."
1,Blood & Water,Unknown,South Africa,2021,"After crossing paths party, Cape Town teen set..."
2,Ganglands,Julien Leclercq,Unknown,2021,"To protect family powerful drug lord, skilled ..."
3,Jailbirds New Orleans,Unknown,Unknown,2021,"Feuds, flirtations toilet talk go among incarc..."
4,Kota Factory,Unknown,India,2021,In city coaching centers known train India‚Äôs f...

## Lemmatize the word in description

In [7]:
lemmatizer = WordNetLemmatizer()
nltk.download('wordnet')
def lemmatize_words(text):
    words = text.split()
    words = [lemmatizer.lemmatize(word,pos='v') for word in words]
    return ' '.join(words)
dataset_clean['description'] = dataset_clean['description'].apply(lemmatize_words)
dataset_clean.head()
# we could see the second line crossing is lemmatized to cross, this could increase the accuracy of searching

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

,title,director,country,release_year,description
0,Dick Johnson Is Dead,Kirsten Johnson,United States,2020,"As father near end life, filmmaker Kirsten Joh..."
1,Blood & Water,Unknown,South Africa,2021,"After cross paths party, Cape Town teen set pr..."
2,Ganglands,Julien Leclercq,Unknown,2021,"To protect family powerful drug lord, skilled ..."
3,Jailbirds New Orleans,Unknown,Unknown,2021,"Feuds, flirtations toilet talk go among incarc..."
4,Kota Factory,Unknown,India,2021,In city coach center know train India‚Äôs finest...

## Convert description into lower case

In [8]:
dataset_clean['description'] = dataset_clean['description'].apply(lambda x: x.lower() if type(x) == str else x)
dataset_clean.head()

,title,director,country,release_year,description
0,Dick Johnson Is Dead,Kirsten Johnson,United States,2020,"as father near end life, filmmaker kirsten joh..."
1,Blood & Water,Unknown,South Africa,2021,"after cross paths party, cape town teen set pr..."
2,Ganglands,Julien Leclercq,Unknown,2021,"to protect family powerful drug lord, skilled ..."
3,Jailbirds New Orleans,Unknown,Unknown,2021,"feuds, flirtations toilet talk go among incarc..."
4,Kota Factory,Unknown,India,2021,in city coach center know train india‚Äôs finest...

# Index Part

## Inport tools from sklearn

In [9]:
!pip install sklearn
from sklearn.feature_extraction.text import CountVectorizer

Requirement already satisfied: sklearn in /usr/local/lib/python3.7/dist-packages (0.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from sklearn) (1.0.2)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.4.1)
Requirement already satisfied: numpy>=1.14.6 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.21.5)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (3.1.0)

In [10]:
vectorizer = CountVectorizer()

## Get description in csv column into document list

In [11]:
documents = dataset_clean['description'].to_numpy()
documents[:10]

array(['as father near end life, filmmaker kirsten johnson stag death inventive comical ways help face inevitable.',
       'after cross paths party, cape town teen set prove whether private-school swim star sister abduct birth.',
       'to protect family powerful drug lord, skilled thief mehdi expert team robbers pull violent deadly turf war.',
       'feuds, flirtations toilet talk go among incarcerate women orleans justice center new orleans gritty reality series.',
       'in city coach center know train india‚Äôs finest collegiate minds, earnest unexceptional student friends navigate campus life.',
       'the arrival charismatic young priest bring glorious miracles, ominous mysteries renew religious fervor die town desperate believe.',
       "equestria's divided. but bright-eyed hero believe earth ponies, pegasi unicorns pal ‚Äî and, hoof heart, she‚Äôs determine prove it.",
       'on photo shoot ghana, american model slip back time, become enslave plantation bear witness agony ancestral past.',
       "a talented batch amateur bakers face 10-week competition, whip best dish hop name u.k.'s best.",
       "a woman adjust life loss contend feisty bird that's take garden ‚Äî husband who's struggle find way forward."],
      dtype=object)

## Get vocabulary list

In [12]:
documents_vectorized = vectorizer.fit_transform(documents)
vocabulary = vectorizer.get_feature_names() #or get_feature_name_out

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [13]:
vocabulary

['000',
 '007',
 '009',
 '10',
 '100',
 '1000',
 '102',
 '108',
 '10th',
 '11',
 '112',
 '11th',
 '12',
 '12th',
 '13',
 '130',
 '13th',
 '14',
 '1402',
 '14th',
 '15',
 '150',
 '1590',
 '15k',
 '15th',
 '16',
 '1609',
 '1623',
 '1666',
 '16th',
 '17',
 '1720',
 '1778',
 '17th',
 '18',
 '1800s',
 '1806',
 '1812',
 '1821',
 '1827',
 '1843',
 '1854',
 '1860s',
 '1866',
 '1867',
 '1870',
 '1871',
 '1879',
 '1880s',
 '1881',
 '1888',
 '1890',
 '1890s',
 '1892',
 '1895',
 '1897',
 '1899',
 '18th',
 '19',
 '1900',
 '1900s',
 '1901',
 '1902',
 '1905',
 '1913',
 '1915',
 '1917',
 '1919',
 '1920',
 '1920s',
 '1921',
 '1927',
 '1929',
 '1930s',
 '1931',
 '1934',
 '1936',
 '1937',
 '1940',
 '1940s',
 '1942',
 '1943',
 '1944',
 '1945',
 '1946',
 '1947',
 '1948',
 '1949',
 '1950',
 '1950s',
 '1951',
 '1953',
 '1958',
 '1959',
 '1960',
 '1960s',
 '1961',
 '1962',
 '1963',
 '1965',
 '1966',
 '1967',
 '1968',
 '1969',
 '1970',
 '1970s',
 '1971',
 '1972',
 '1973',
 '1974',
 '1975',
 '1976',
 '1977',
 '1978',
 '1979',
 '1980',
 '1980s',
 '1981',
 '1982',
 '1983',
 '1984',
 '1985',
 '1986',
 '1987',
 '1988',
 '1989',
 '1990',
 '1990s',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '19th',
 '20',
 '200',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2006',
 '2008',
 '2009',
 '200th',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 '2020',
 '2025',
 '2029',
 '2033',
 '2041',
 '2050',
 '2092',
 '20s',
 '20th',
 '21',
 '210',
 '215',
 '21st',
 '22',
 '23',
 '2388',
 '23rd',
 '24',
 '25',
 '250',
 '2524',
 '25th',
 '26',
 '27',
 '28',
 '29',
 '30',
 '300',
 '3000',
 '30s',
 '32',
 '33',
 '34',
 '35',
 '36',
 '360¬∫',
 '36th',
 '37',
 '37th',
 '38',
 '3below',
 '3d',
 '40',
 '400',
 '40s',
 '40th',
 '42',
 '43',
 '436',
 '4400',
 '45',
 '47',
 '49',
 '4bia',
 '4k',
 '4minute',
 '4x4',
 '50',
 '500',
 '501',
 '50s',
 '50th',
 '51',
 '51st',
 '524',
 '57',
 '60',
 '600',
 '60s',
 '61',
 '6th',
 '70',
 '70s',
 '71',
 '747',
 '75',
 '78',
 '7th',
 '80',
 '80s',
 '85',
 '8th',
 '90',
 '90an',
 '90s',
 '90th',
 '91',
 '93',
 '95',
 '98',
 '99',
 '99th',
 '9th',
 'aaliya',
 'aamir',
 'aang',
 'aardman',
 'aaron',
 'abad',
 'abagnale',
 'abah',
 'abandon',
 'abandoned',
 'abandonment',
 'abargil',
 'abatutu',
 'abbey',
 'abbie',
 'abbott',
 'abby',
 'abdel',
 'abdelmoneim',
 'abduct',
 'abducted',
 'abductee',
 'abduction',
 'abductions',
 'abductors',
 'abdullah',
 'abdulrahman',
 'abdus',
 'abe',
 'abel',
 'abhay',
 'abide',
 'abiding',
 'abigail',
 'abilene',
 'abilities',
 'ability',
 'abla',
 'able',
 'abnormal',
 'aboard',
 'abolish',
 'abominable',
 'abortion',
 'abortions',
 'abound',
 'about',
 'above',
 'aboveground',
 'abraham',
 'abroad',
 'abrupt',
 'abruptly',
 'abscond',
 'absence',
 'absent',
 'absolute',
 'absolution',
 'absorb',
 'absorbed',
 'abstinence',
 'abstract',
 'absurd',
 'absurdities',
 'abu',
 'abuja',
 'abundance',
 'abuse',
 'abusers',
 'abuses',
 'abusive',
 'abuzz',
 'aby',
 'abysmally',
 'abyss',
 'academic',
 'academics',
 'academy',
 'acapulco',
 'acaster',
 'accent',
 'accentuate',
 'accept',
 'acceptance',
 'access',
 'accident',
 'accidental',
 'accidentally',
 'accidents',
 'acclaim',
 'acclaimed',
 'acclimate',
 'accompanied',
 'accompany',
 'accomplice',
 'accomplices',
 'accomplish',
 'accomplishments',
 'accord',
 'according',
 'account',
 'accountant',
 'accounts',
 'accra',
 'acculturate',
 'accumulation',
 'accuracy',
 'accusations',
 'accuse',
 'accused',
 'accustomed',
 'ace',
 'acerbic',
 'acerbically',
 'acha',
 'achieve',
 'achievement',
 'achievements',
 'achievers',
 'achieving',
 'achmed',
 'acid',
 'acoustic',
 'acoustics',
 'acquaintance',
 'acquaintances',
 'acquiesce',
 'acquire',
 'acquisition',
 'acquit',
 'acquittal',
 'acre',
 'acrobatic',
 'across',
 'act',
 'acting',
 'action',
 'actioner',
 'actions',
 'activate',
 'activism',
 'activist',
 'activists',
 'activities',
 'activity',
 'actor',
 'actors',
 'actress',
 'actresses',
 'acts',
 'actual',
 'actually',
 'ad',
 'ada',
 'adaeze',
 'adair',
 'adam',
 'adams',
 'adapt',
 'adaptation',
 'adaptations',
 'adapted',
 'adaptive',
 'add',
 'adderall',
 'addict',
 'addicted',
 'addiction',
 'addictions',
 'addie',
 'addison',
 'addition',
 'addle',
 'addled',
 'address',
 'addy',
 'adel',
 'adele',
 'adept',
 'adhere',
 'aditi',
 'aditya',
 'adjust',
 'adjusted',
 'adjuster',
 'adjustment',
 'adman',
 'administration',
 'administrator',
 'administrators',
 'admire',
 'admirer',
 'admirers',
 'admission',
 'admit',
 'adolescence',
 'adolescent',
 'adolf',
 'adoodledoo',
 'adopt',
 'adopted',
 'adopting',
 'adoption',
 'adoptive',
 'adora',
 'adorability',
 'adorable',
 'adorably',
 'adore',
 'adores',
 'adrenaline',
 'adri',
 'adrianne',
 'adriano',
 'adriatic',
 'adrien',
 'ads',
 'adulation',
 'adult',
 'adulterous',
 'adultery',
 'adulthood',
 'adulting',
 'adults',
 'advance',
 'advanced',
 'advancement',
 'advantage',
 'advent',
 'adventure',
 'adventurer',
 'adventurers',
 'adventures',
 'adventurous',
 'adversaries',
 'adversary',
 'adversities',
 'adversity',
 'advertise',
 'advertised',
 'advice',
 'advise',
 'advised',
 'adviser',
 'advisor',
 'advisors',
 'advocacy',
 'advocate',
 'aegean',
 'aeon',
 'aerobatic',
 'aerobatics',
 'aerodynamics',
 'aesthetic',
 'afar',
 'affable',
 'affair',
 'affairs',
 'affect',
 'affection',
 'affectionate',
 'affections',
 'affiliated',
 'affinity',
 'afflict',
 'afflictions',
 'affluent',
 'afford',
 'affordable',
 'afghan',
 'afghanistan',
 'afghans',
 'afloat',
 'afonso',
 'afoot',
 'afoul',
 'afraid',
 'africa',
 'african',
 'afro',
 'after',
 'afterlife',
 'aftermath',
 'afternoon',
 'afterward',
 'again',
 'against',
 'agam',
 'agatha',
 'age',
 'aged',
 'agency',
 'agenda',
 'agendas',
 'agent',
 'agents',
 'ages',
 'aggression',
 'aggressive',
 'agile',
 'aging',
 'ago',
 'agonize',
 'agony',
 'agoraphobia',
 'agree',
 'agreement',
 'agricultural',
 'aguazul',
 'agust√≠n',
 'ah',
 'ahead',
 'ahmad',
 'ahmedabad',
 'ahron',
 'ahrv',
 'ai',
 'aid',
 'aidan',
 'aide',
 'aided',
 'aiden',
 'aids',
 'aiko',
 'ail',
 'ailments',
 'aim',
 'aimee',
 'aiming',
 'aimless',
 'aimlessly',
 'ainsley',
 'ainu',
 'air',
 'airborne',
 'aircraft',
 'aires',
 'airline',
 'airplane',
 'airplanes',
 'airport',
 'airship',
 'airstrikes',
 'airworthy',
 'aisha',
 'aishwarya',
 'aisle',
 'aisling',
 'aiye',
 'aj',
 'ajay',
 'ajegunle',
 'ajin',
 'aka',
 'akash',
 'akator',
 'akbar',
 'akhtar',
 'akif',
 'akira',
 'akita',
 'akiyama',
 'akko',
 'akpƒ±nar',
 'al',
 'alabama',
 'aladdin',
 'alago',
 'alain',
 'alan',
 'alarm',
 'alaska',
 'alaskan',
 'albacore',
 'albania',
 'albanian',
 'albert',
 'alberto',
 'albinos',
 'album',
 'albums',
 'alchemic',
 'alchemist',
 'alchemy',
 'alciel',
 'alcohol',
 'alcoholic',
 'alcoholics',
 'alcoholism',
 'aldo',
 'aldovia',
 'alebrije',
 'alec',
 'aleck',
 'alejandro',
 'alert',
 'alessandro',
 'aleu',
 'aleutian',
 'alex',
 'alexa',
 'alexander',
 'alexandra',
 'alexandria',
 'alexia',
 'alexis',
 'alfea',
 'alfie',
 'alfonso',
 'alfred',
 'algorithm',
 'algorithms',
 'alhaja',
 'ali',
 'alia',
 'alias',
 'alibaba',
 'alice',
 'alicia',
 'alien',
 'alienation',
 'aliens',
 'alike',
 'alikes',
 'alimony',
 'alina',
 'alive',
 'all',
 'allbright',
 'allegations',
 'allege',
 'allegedly',
 'allegiance',
 'allegiances',
 'allegory',
 'allen',
 'allende',
 'allergic',
 'allergies',
 'allergy',
 'alleviate',
 'alley',
 'alleys',
 'alleyway',
 'alliance',
 'alliances',
 'allie',
 'allied',
 'allies',
 'alligator',
 'allison',
 'allow',
 'allred',
 'allspark',
 'alluding',
 'allure',
 'alluring',
 'ally',
 'alma',
 'almost',
 'alola',
 'alone',
 'along',
 'alongside',
 'alonzo',
 'aloof',
 'aloysius',
 'alpert',
 'alpha',
 'alphabet',
 'alphaland',
 'alphonse',
 'alpine',
 'alps',
 'already',
 'als',
 'also',
 'alt',
 'altagracia',
 'altair',
 'altar',
 'alter',
 'altered',
 'altering',
 'alternate',
 'alternately',
 'alternative',
 'alternatives',
 'althorp',
 'although',
 'alum',
 'alumni',
 'alumnus',
 'always',
 'alyssa',
 'alzheimer',
 'amaia',
 'amakasu',
 'amal',
 'amalia',
 'amalie',
 'amamiya',
 'amanda',
 'amani',
 'amanpour',
 'amar',
 'amarelo',
 'amass',
 'amateur',
 'amateurs',
 'amaze',
 'amazia',
 'amazing',
 'amazingly',
 'amazon',
 'amazonian',
 'ambassador',
 'amber',
 'ambition',
 'ambitions',
 'ambitious',
 'ambulance',
 'ambush',
 'ambushed',
 'amelia',
 'amendment',
 'amends',
 'amer',
 'america',
 'american',
 'americanized',
 'americans',
 'americas',
 'amiable',
 'amiably',
 'amid',
 'amidst',
 'amish',
 'amit',
 'amity',
 'amnesia',
 'amnesiac',
 'amok',
 'among',
 'amos',
 'amount',
 'amped',
 'amphibians',
 'amphibious',
 'amphitheater',
 'amps',
 'amputee',
 'amritsar',
 'amstell',
 'amsterdam',
 'amulet',
 'amur',
 'amuro',
 'amuse',
 'amusement',
 'amy',
 'an',
 'ana',
 'analysis',
 'analyst',
 'analytica',
 'analytical',
 'analyze',
 'anand',
 'ananta',
 'ananya',
 'anarchist',
 'anarchists',
 'anastasia',
 'anatolia',
 'anatolian',
 'ancestors',
 'ancestral',
 'ancestry',
 'anchored',
 'ancient',
 'ancients',
 'and',
 'anda',
 'andean',
 'ander',
 'anders',
 'anderson',
 'andes',
 'andhra',
 'andi',
 'andre',
 'andrea',
 'andrei',
 'andrew',
 'andrews',
 'andries',
 'android',
 'andromeda',
 'andr√©',
 'andr√©s',
 'andy',
 'anecdotes',
 'anelka',
 'anemona',
 'anesthesiologist',
 'anew',
 'ang',
 'angel',
 'angela',
 'angeles',
 'angelina',
 'angelino',
 'angelou',
 'angels',
 'angelus',
 'anger',
 'angler',
 'angles',
 'angry',
 'angsty',
 'anguish',
 'anima',
 'animal',
 'animals',
 'animate',
 'animated',
 'animatedly',
 'animation',
 'animations',
 'anime',
 'animosity',
 'anitta',
 'ankara',
 'anmol',
 'ann',
 'anna',
 'annalise',
 'anne',
 'annexation',
 'annihilation',
 'anniversary',
 'announce',
 'announcers',
 'annoyances',
 'annual',
 'anomaly',
 'anonymous',
 'anonymously',
 'anorexia',
 'another',
 'ansari',
 'ansi',
 'answer',
 'answers',
 'ant',
 'antagonistic',
 'antarctic',
 'ante',
 'anthem',
 'anthill',
 'anthology',
 'anthony',
 'anthropologist',
 'anti',
 'antic',
 'antichrist',
 'anticipate',
 'anticipated',
 'anticipating',
 'antics',
 'antifa',
 'antique',
 'antiracism',
 'antisocial',
 'antiterrorism',
 'antiwar',
 'antoine',
 'anton',
 'antonio',
 'anurag',
 'anxiety',
 'anxious',
 'anxiously',
 'anybody',
 'anymore',
 'anyone',
 'anything',
 'anywhere',
 'aoi',
 'aoki',
 'apache',
 'apaches',
 'apart',
 'apartheid',
 'apartment',
 'apathetic',
 'apathy',
 'apatow',
 'ape',
 'apes',
 'aphrodisiac',
 'aphrodite',
 'apnea',
 'apocalypse',
 'apocalyptic',
 'apolitical',
 'apollo',
 'apolo',
 'apostle',
 'apostles',
 'app',
 'appal',
 'apparent',
 'appear',
 'appearance',
 'appearances',
 'appears',
 'appease',
 'appetite',
 'apple',
 'applejack',
 'applicants',
 'apply',
 'applying',
 'appoint',
 'appointed',
 'appointments',
 'appraisals',
 'appraise',
 'appraiser',
 'appreciate',
 'apprentice',
 'apprenticeship',
 'approach',
 'approaches',
 'appropriate',
 'appropriation',
 'approval',
 'approve',
 'apps',
 'appu',
 'april',
 'aptitude',
 'aptly',
 'aqua',
 'aquarium',
 'aquatic',
 ...]

In [14]:
print ('We have a {} movies with a {} term vocabulary'.format(*documents_vectorized.shape))

We have a 8807 movies with a 17441 term vocabulary

## Term Frequency Matrix

In [15]:
df = pd.DataFrame(documents_vectorized.toarray(), columns=vocabulary)
doc_ids = df.index.values
print('The shape of the term frequency matrix is {}'.format(df.shape))
print('Which means it contains {} movies with {} term vocabulary'.format(*df.shape))
df[:5]

The shape of the term frequency matrix is (8807, 17441)
Which means it contains 8807 movies with 17441 term vocabulary

,000,007,009,10,100,1000,102,108,10th,11,...,z√©,√°lex,√°lvaro,√°ngel,√©mile,√∂mer,√ºber,≈Çukasz,≈çarai,≈üeref
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Finding DF/IDF for each term

In [16]:
dfs = (df > 0).sum(axis=0)
print('The list below is the document frequency DF')
dfs
# first get the document frequency DF (i.e. how many documents does each phrase appear in?):

The list below is the document frequency DF

000       38
007        4
009        1
10        44
100       18
          ..
√∂mer       1
√ºber       2
≈Çukasz     1
≈çarai      1
≈üeref      1
Length: 17441, dtype: int64

In [17]:
N = df.shape[0]
print('Our total ducument is {} which is the total number of movie in dataset '.format(N))

Our total ducument is 8807 which is the total number of movie in dataset

## ${idf}_t$ is calculated by $idf_t = log\frac{N}{df}$

In [18]:
idfs = np.log10(N/dfs)
idfs[:5]

000    2.365044
007    3.342768
009    3.944828
10     2.301375
100    2.689555
dtype: float64

# **BM25 Score**
## The formula for BM25 Score is

![Screenshot 2021-06-08 at 11.46.48.png]()

## Define all the variables

In [19]:
k_1 = 1.2 # single value
b = 0.8 # single value
## considering all words in doc
dls = [len(d.split(' ')) for d in documents] # vector
## considering words minus stop words in doc. 
dls = df.sum(axis=1).tolist()
avgdl = np.mean(dls) # single value

## Calculate BM25 Score

In [20]:
numerator = np.array((k_1 + 1) * df)
denominator = np.array(k_1 *((1 - b) + b * (dls / avgdl))).reshape(N,1) + np.array(df)

BM25_tf = numerator / denominator

idfs = np.array(idfs)

BM25_score = BM25_tf * idfs

In [21]:
bm25_idf = pd.DataFrame(BM25_score, columns=vocabulary)
print('The dataframe below is the BM25 scores for each documents.')
bm25_idf

The dataframe below is the BM25 scores for each documents.

,000,007,009,10,100,1000,102,108,10th,11,...,z√©,√°lex,√°lvaro,√°ngel,√©mile,√∂mer,√ºber,≈Çukasz,≈çarai,≈üeref
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8802,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8803,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8804,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8805,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8806,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Create a function cleaning query

In [22]:
def clean_query(query):
    cleaned_query=word_tokenize(query)
    specific_words=['want','watch','see','about','relate','I','movie','TV Show'] #specific words that user might used which will not related to movie
    cleaned_query=[word for word in cleaned_query if word not in stopwords.words('english')]
    cleaned_query=[word for word in cleaned_query if word not in specific_words]
    cleaned_query=[word.lower() for word in cleaned_query if word.isalpha()]
    return cleaned_query

In [23]:
#example for a query
nltk.download('punkt')
cleaned_query=clean_query('I want to watch a movie about a father nears the end of his life')
cleaned_query

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

['father', 'nears', 'end', 'life']

## Find the score for the query and sorted from large to small

In [24]:
def score(query):
    cleaned_query=clean_query(query)
    cleaned_query_only_df = bm25_idf[cleaned_query]
    score_q_d = cleaned_query_only_df.sum(axis=1)
    sorted_score=sorted(zip(documents,score_q_d.values), key = lambda tup:tup[1], reverse=True)
    result = pd.DataFrame(sorted_score)
    return result

In [25]:
#score(cleaned_query)[0][1]

In [26]:
#for n in range(2):
#    movie=(dataset_clean.loc[dataset_clean['description'].str.contains(score(cleaned_query)[0][n])])
#    print('The {} relevant movie with the query you given is :' .format(str(n+1)+("th" if 3<=n%100<=20 else {0:"st",1:"nd",2:"rd"}.get(n%10, "th"))))
#    display(movie)

## Create a function for recommondation

In [35]:
def recommondation(query,n):
    score(query)
    for i in range(n):
        movie=(dataset.loc[dataset_clean['description'].str.contains(score(query)[0][i])])
        print('The {} relevant movie with the query you given is :' .format(str(i+1)+("th" if 3<=n%100<=20 else {0:"st",1:"nd",2:"rd"}.get(n%10, "th"))))
        display(movie)

In [37]:
recommondation('I want to watch a movie about criminal in jail',3)

The 1th relevant movie with the query you given is :

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
7484,s7485,Movie,Money Talks,Brett Ratner,"Charlie Sheen, Chris Tucker, Heather Locklear, Paul Sorvino, G√©rard Isma√´l, Damian Chapa, Elise Neal, Michael Wright, Veronica Cartwright",United States,"November 1, 2019",1997,R,96 min,"Action & Adventure, Comedies","TV news reporter James Russell helps put small-time criminal Franklin Hatchett in jail, but turns to protecting Hatchett when he escapes from prison."

The 2th relevant movie with the query you given is :

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
2823,s2824,Movie,Miracle in Cell No. 7,Mehmet Ada √ñztekin,"Aras Bulut ƒ∞ynemli, Nisa Sofiya Aksongur, Deniz Baysal, Celile Toyon Uysal, ƒ∞lker Aksum, Mesut Akusta",Turkey,"March 13, 2020",2019,TV-14,132 min,"Dramas, International Movies","Separated from his daughter, a father with an intellectual disability must prove his innocence when he is jailed for the death of a commander's child."

The 3th relevant movie with the query you given is :

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
529,s530,Movie,Return of the Prodigal Son,Youssef Chahine,"Majida El Roumi, Souheir El Morshidy, Shoukry Sarhan, Huda Sultan, Mahmoud El Meleigy, Ahmad Mehrez, Hesham Selim",Egypt,"July 6, 2021",1976,TV-MA,124 min,"Dramas, International Movies","Freed after spending 12 years in jail, a man's homecoming turns into a dark affair as his disillusion clashes with his family's expectations."

In [29]:
pd.set_option('max_colwidth',None) #used to make sure the description display fully. Default 50

# Final Testing

In [38]:
#Please enter what kind of movie are you looking for:
query = 'I want to watch a movie about young priest'
#Please type how many movies do you want to recommend
n=4
recommondation(query,n)

The 1th relevant movie with the query you given is :

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
8323,s8324,Movie,The Good Catholic,Paul Shoulberg,"Zachary Spicer, Wrenn Schmidt, Danny Glover, John C. McGinley",United States,"January 24, 2018",2017,PG-13,97 min,"Comedies, Dramas, Romantic Movies",A young priest‚Äôs faith is tested when he finds himself attracted to a woman he meets at confession and his ideals are shaken to the core.

The 2th relevant movie with the query you given is :

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
4909,s4910,Movie,Holy Goalie,Curro Vel√°zquez,"Karra Elejalde, Alain Hern√°ndez, Juan Manuel Montilla, Joel Bosqued, Macarena Garc√≠a, Tito Valverde, Paco Rueda, Guillermo Furiase, Txema Blasco, Paco Sagarzazu",Spain,"April 27, 2018",2017,TV-MA,95 min,"Comedies, International Movies, Sports Movies",A young priest coaches a team of uncoordinated monks in order to win a soccer tournament and save their monastery from being turned into a hotel.

The 3th relevant movie with the query you given is :

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
8408,s8409,Movie,The lynx,Stanis≈Çaw R√≥≈ºewicz,"Jerzy Radziwi≈Çowicz, Franciszek Pieczka, Piotr Bajor, Ryszarda Hanin, Janusz Paluszkiewicz, Henryk Machalica, Hanna Mikuƒá, Maria Klejdysz",Poland,"October 1, 2019",1982,TV-14,82 min,"Dramas, International Movies",A priest's duties are tested when a young guerrilla asks for absolution while confessing his plans to murder a local man he believes is a traitor.

The 4th relevant movie with the query you given is :

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
8548,s8549,Movie,The Vatican Tapes,Mark Neveldine,"Olivia Taylor Dudley, Michael Pe√±a, Dougray Scott, Djimon Hounsou, Peter Andersson, Kathleen Robertson, John Patrick Amedori, Michael Par√©, Alex Sparrow, Cas Anvar",United States,"April 20, 2020",2015,PG-13,91 min,"Horror Movies, Thrillers",A young woman hospitalized for an infected wound becomes possessed by a satanic force that will take a priest and two Vatican exorcists to defeat.